@{
    ViewData["Title"] = "Map";
    ViewData["BodyClass"] = "map-body";
}

<div class="map-page">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    
    <div id="searchBar">
        <h2 style="color:white">Map</h2>
        <div class="searchWrap">
            <input id="searchInput" type="search" placeholder="Search for station..." />
            <ul id="searchResults"></ul>
        </div>

    </div>
    <div id="mapWrap" style="position:relative;">
        <div id="map" style="height: 75vh; width: 100%; border: 1px solid #ccc;"></div>
    </div>
    <!-- Simple station info "card" overlay -->
    <div id="stationCard">
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="~/js/map.js"></script>

}