@{
    ViewData["Title"] = "Map";
    ViewData["BodyClass"] = "map-body";
}

<div class="map-page">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

    
    <div id="searchBar">
        <div class="searchWrap">
            <input class="searchInput" id="fromInput" type="search" placeholder="From: ...." />
            <ul id="fromResults" class="searchResults"></ul>
        </div>
        <div class="arrowWrap">
            <svg width="36" height="36" viewBox="0 0 24 24" class="journeyArrow">
                <path d="M4 12h14M12 6l6 6-6 6"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round" />
            </svg>
        </div>
        <div class="searchWrap">
            <input class="searchInput" id="toInput" type="search" placeholder="To: ...." />
            <ul id="toResults" class="searchResults"></ul>
        </div>
       
        <div class="searchWrap">
            <button class="searchInput" id="btnSearch" onclick="searchJourneys()">Search Journeys</button>
        </div>

    </div>
    <div id="mapWrap" style="position:relative;">
        <div id="map" style="height: 75vh; width: 100%; border: 1px solid #ccc;"></div>
    </div>
    <!-- Simple station info "card" overlay -->
    <div id="stationCard">
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="~/js/map.js"></script>

}